@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

/* todo: need to recheck */

:root {
  --basic-black: #000000;
  --basic-black-opacity-30: rgba(0, 0, 0, 0.3);
  --basic-white: #ffffff;
  --basic-light: #eeeeee;
  --basic-icon: #a6a6a6;
  --basic-text: #283136;
  --basic-text-opacity-30: rgba(40, 49, 54, 0.3);
  --special-text: #444444; /* footer & placeholder */
  --special-text-opacity-50: rgba(4, 4, 4, 0.5);
  --border-modal: #d7dcde;
  --checkbox: #4d4d4d;
  --filter-special: #ababab; /* border active & range inside */
  --border-modal-hover: #b4b9bb;
  --address-text: #666666;

  --button: #fb565a;
  --button-hover: #e74246;
  --button-active: #d7373b;
  --button-text-active: rgba(255, 255, 255, 0.3);
  --button-shadow: rgba(0, 1, 1, 0.1);

  --button-center: #00ca74; /* range color tooxr */
  --button-center-hover: #00bc6c;
  --button-center-active: #00aa62;

  --button-right: #efc849;
  --button-right-hover: #eab534;
  --button-right-active: #e5a722;

  --button-filter-hover: #dfdfdf;
  --button-filter-active: #d5d5d5;
  --border-button-numbers: #dbdbdb;
  --range-control-shadow: #cfcfcf;

  --sorting-item: rgba(166, 166, 166, 0.2);
  --sorting-item-active: #231f20;

  --catalog-item-background: #f2f2f2;

  --social-button: #e1e1e1;
  --social-button-hover: #e74246;
  --social-button-active: #d7373b;
}

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Main header */

.main-header {
  background-color: var(--basic-light);
}

.advantages {
  background-color: var(--basic-light);
  margin-bottom: 80px;
}

.advantages-list {
  position: relative;
}

.advantage-item_slide {
  display: none;
}

.advantage-item_slide_current {
  display: block;
}

.slider-controls {
  display: flex;
  width: 88px;
  height: 18px;
  position: absolute;
  margin-top: 317px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  z-index: 20;
}

.slider-button {
  border-radius: 50%;
  border: 1px solid var(--basic-white);
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.slider-button_current {
  background-image: url(../img/icons/slider-current.svg);
}

.main-navigation {
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 49px;

  display: grid;
  grid-template-columns: max-content 1fr min-content;
}

.main-header-logo {
  margin-right: 10px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation-link {
  display: block;
  padding: 26px 22px 9px 23px;
  color: var(--basic-black);
}

.site-navigation-link[aria-current="page"] {
  text-decoration: underline var(--button);
  text-underline-offset: 13px;
  text-decoration-thickness: 2px;
  pointer-events: none;
}

.cart {
  display: flex;
  flex-wrap: wrap;
}

.cart-link::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("/img/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 26px 0px 32px 20px;
  color: var(--basic-black);
}

.site-navigation-link:hover {
  color: var(--button); /* strange name for color */
}

.cart-link:hover {
  color: var(--button); /* strange name for color */
}

.site-navigation-link:active {
  color: var(--basic-black-opacity-30);
}

.cart-link:active {
  color: var(--basic-black-opacity-30);
}

/* Advantages */

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantage-item {
  min-height: 431px;
  background-repeat: no-repeat;
  background-size: 760px 431px;
  background-position: right top;
}

.advantage-item_1 {
  background-image: url(../img/nerds-index-slide1.png);
}

.advantage-item_2 {
  background-image: url(../img/nerds-index-slide2.png);
}

.advantage-item_3 {
  background-image: url(../img/nerds-index-slide3.png);
}

.slogan {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  width: 538px;
  height: 111px;
  padding-top: 78px;
  margin-bottom: 25px;
}

.slogan-add {
  width: 416px;
  height: 49px;
  margin-bottom: 38px;
}

/* Services */

.services {
  margin-bottom: 80px;
  display: grid;
  grid-row-gap: 73px;
}

.services::after {
  width: 1158px;
  height: 2px;
  content: "";
  background-image: url("../img/icons/horisontal-line.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 100px;
  padding: 0;
  margin: 0;
}

.service-item {
  min-height: 347px;
  background-repeat: no-repeat;
  background-size: 300px 146px;
  background-position: top;
}

.service-item_1::before {
  content: "";
  display: block;
  background-image: url(../img/illustration-1.jpg);
  background-size: 300px 146px;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.service-item_2::before {
  content: "";
  display: block;
  background-image: url(../img/illustration-2.jpg);
  background-size: 300px 146px;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.service-item_3::before {
  content: "";
  display: block;
  background-image: url(../img/illustration-3.jpg);
  background-size: 300px 146px;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.service-list_header {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.service-list_text {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.button {
  display: inline-block;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button);
  border: none;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--button-hover);
}

.button:active {
  color: var(--button-text-active);
  background-color: var(--button-active);
  box-shadow: inset 0px 3px 0px var(--button-shadow);
}

.button-center {
  background-color: var(--button-center);
}

.button-center:hover {
  background-color: var(--button-center-hover);
}

.button-center:active {
  background-color: var(--button-center-active);
}

.button-right {
  background-color: var(--button-right);
}

.button-right:hover {
  background-color: var(--button-right-hover);
}

.button-right:active {
  background-color: var(--button-right-active);
}

/* About */

.about {
  display: grid;
  grid-template-columns: 2fr 360px;
  column-gap: 149px;
  /* margin-top: 39px; */
  margin-bottom: 74px;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  padding-top: 73px;
}

.about-text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

/* Ерунда какая-то, about-title, about_header... */

.about_header {
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.orders-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.orders-item:not(:last-child) {
  margin-bottom: 23px;
}

.orders-item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background: var(--button);
  margin-right: 7px;
  margin-bottom: 4px;
}

.about_stat {
  display: grid;
}

.about_img {
  order: -1;
  width: 360px;
  height: 208px;
}

.about_stat_header {
  margin: 0;
  padding: 0;
}

.about-term {
  font-size: 16px;
  line-height: 18px;
}

.about-definition {
  margin: 0;
  padding: 0;
  grid-row: 1 / -1;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  padding: 0;
  margin: 0;
}

.about-list_number {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.about-list_percent {
  color: var(--basic-black);
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: top;
}

/* Clients */

.clients {
  min-height: 184px;
}

.clients-list {
  list-style: none;
  text-align: center;
  place-items: center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 46px;
  padding: 0;
  margin: auto;
}

.clients-list::before {
  grid-area: 1 / 1 / 2 / 5;
  width: 1158px;
  height: 2px;
  content: "";
  background-image: url("../img/icons/horisontal-line.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.clients-list::after {
  grid-area: 3 / 1 / 4 / 5;
  width: 1158px;
  height: 2px;
  content: "";
  background-image: url("../img/icons/horisontal-line.svg");
  background-repeat: repeat (3, 1 00px);
  background-position: 0 0;
}

.client-item {
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.client-item_link {
  opacity: 0.2;
}

.client-item_link:hover {
  opacity: 1;
}

.client-item_link:active {
  opacity: 0.1;
}

.client-item::after {
  opacity: 1;
  width: 2px;
  height: 52px;
  content: "";
  background-image: url("../img/icons/vertical-line.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.client-item:last-child::after {
  display: none;
}


/* Contacts */

.contacts {
  grid-column: 1 / -1;
}

.contacts-title {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
}

.address {
  color: var(--address-text);
}

.contacts-phone {
  color: var(--address-text);
}

.modal-container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 65px;
}

.write_us {
  width: 960px;
  height: 590px;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  display: none;
}

.write_us-show {
  display: block;
}

.write_us-form {
  display: grid;
  grid-template-columns: repeat(2,360px);
  grid-template-rows: repeat(7, min-content);
  column-gap: 40px;
  row-gap: 9px;
}

.write_us-title {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
}

.write_us label {
  color: var(--basic-black);
  font-weight: 700;
}

.write_us-input {
  color: var(--special-text-opacity-50);
  background-color: var(--basic-white);
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid var(--border-modal);
  border-radius: 3px;
  padding: 16px 14px 16px 16px;
}

.write_us-textarea {
  color: var(--special-text-opacity-50);
  background-color: var(--basic-white);
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid var(--border-modal);
  border-radius: 3px;
  padding: 16px 14px 16px 16px;
}

.write_us-input:hover,
.write_us-textarea:hover {
  border-color: var(--border-modal-hover);
}

.write_us-input:focus,
.write_us-textarea:focus {
  outline: none;
  color: var(--special-text);
  border-color: var(--basic-black);
}

.write_us-input:invalid,
.write_us-textarea:invalid {
  outline: none;
  color: var(--button-hover);
  border-color: var(--button-hover);
}

.write_us-input_label_name {
  grid-area: 1 / 1 / 2 / 2;
}

.write_us-input_name {
  grid-area: 2 / 1 / 3 / 2;
  margin-bottom: 25px;
}

.name-input {
  padding: 0;
  margin: 0;
  display: contents;
}

.write_us-input_label_email {
  grid-area: 1 / 2 / 2 / 3;
}

.write_us-input_email {
  grid-area: 2 / 2 / 3 / 3;
  margin-bottom: 25px;
}

.email-input {
  padding: 0;
  margin: 0;
  display: contents;
}

.write_us-input_label_textarea {
  grid-area: 3 / 1 / 4 / 3;
}

.write_us-input_textarea {
  grid-area: 4 / 1 / 5 / 3;
  margin-bottom: 38px;
}

.comment-input {
  padding: 0;
  margin: 0;
  display: contents;
}

.button-modal {
  width: 259px;
  grid-area: 5 / 1 / 6 / 2;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icons/close-cross.svg");
  background-repeat: no-repeat;
  border: 0;
  opacity: 0.3;
  background-color: var(--basic-white);
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

/* Footer */

.main-footer {
  color: var(--special-text);
  font-size: 16px;
  line-height: 22px;
}

.footer-title {
  color: var(--basic-black);
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  padding-bottom: 10px;
  margin: 0;
}

.footer-text {
  margin: 0;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 139px;
  margin-top: 68px;
  margin-bottom: 68px;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--social-button);
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.social-button:hover {
  background-color: var(--social-button-hover);
}

.social-button:active {
  background-color: var(--social-button-active);
  box-shadow: inset 0px 3px 0px var(--button-shadow);
}

.social-button:active path {
  fill: var(--button-text-active);
}

/* Catalog */

.container-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  align-content: start;
}

.page-title {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  background-color: var(--basic-light);
  margin: 0;
  padding: 0;
  padding-top: 72px;
  padding-bottom: 108px;
  margin-bottom: 55px;
  grid-column: 1 / -1;

}

/* Filters */

.filter_legend {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.price_fieldset {
  margin-bottom: 54px;
}

.price_filter_legend {
  margin-bottom: 48px;
}

.layout_fieldset {
  margin-bottom: 47px;
}

.layout_filter_legend {
  margin-bottom: 16px;
}

.features_fieldset {
  margin-bottom: 50px;
}

.features_filter_legend {
  margin-bottom: 16px;
}

.range-filter {
  width: 260px;
  /* margin-top: 49px; */
}

.range-controls {
  position: relative;
  height: 39px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: var(--basic-light);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--border-modal);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--button-center);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--filter-special);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--range-control-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.range-from {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.range-to {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-text);
  border: none;
  border-radius: 5px;
  background: var(--basic-light);
  font-family: inherit;
  font-size: inherit;
}

.price-controls input[type=number]:not(:hover):not(:focus) {
  appearance: textfield;
}

.filter-list {
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-item {
  margin-bottom: 20px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-item label {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/icons/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/icons/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox + label::before {
  content: "";
  width: 25px;
  height: 23px;
  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  width: 25px;
  height: 23px;
  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::before {
  opacity: 1;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label {
  color: var(--basic-text-opacity-30);
}

.filter-input-radio:disabled + label {
  color: var(--basic-text-opacity-30);
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::before {
  opacity: 0.1;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::before {
  opacity: 0.1;
}

/* Sort */

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.sort-title {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.sort-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.sorting-item-link {
  display: block;
  padding: 5px 12px;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.sorting-item-link:hover {
  opacity: 0.6;
}

.sorting-item-link:active {
  opacity: 1;
}

.sort-order {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.sorting-item-button path {
  fill: var(--sorting-item);
}

.sorting-item-button:hover path {
  fill: var(--basic-icon);
}

.sorting-item-button:active path {
  fill: var(--sorting-item-active);
}

.sorting-item-button_active path {
  fill: var(--sorting-item-active);
}

/* Catalog */

.catalog-list {
  list-style: none;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  margin-bottom: 54px;
}

.catalog-item {
  width: 360px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

.catalog-item::before {
  content: "";
  width: 360px;
  height: 40px;
  background-image: url("../img/icons/browser.svg");
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item_title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.catalog-item_title_link {
  color: var(--basic-black);
}

.catalog-item_title_link:hover {
  color: var(--button);
}

.catalog-item_title_link:active {
  color: var(--basic-black-opacity-30);
}

.catalog-item_text {
  color: var(--address-text);
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-item_img {
  grid-area: 2 / 1 / 4 / 2;
  width: 360px;
  height: 580px;
  background-color: var(--catalog-item-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
}

.catalog-item_modal {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--basic-light);
  min-height: 161px;
  padding-bottom: 44px;
  padding-top: 26px;
  padding-right: 53px;
  padding-left: 52px;
  border-radius: 0 0 5px 5px;
}

.catalog-item:hover {
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.catalog-item:hover .catalog-item_img {
  border: none;
}

.catalog-item:hover .catalog-item_modal,
.catalog-item:focus-within .catalog-item_modal {
  z-index: 1;
}

/* Pagination */

.pagintaion-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin: 0;
  padding: 0;
}

.button-filter {
  color: var(--basic-black);
  background-color: var(--basic-light);
}

.button-filter:hover {
  background-color: var(--button-filter-hover);
}

.button-filter:active {
  color: var(--basic-black-opacity-30);
  background-color: var(--button-filter-active);
}

.button-form {
  padding: 17px 89px 15px 88px;
}

.button-catalog {
  display: flex;
  justify-content: center;
  width: 56px;
  padding: 17px 72px 15px;
}

.button-catalog:active {
  color: var(--basic-white);
}

.button-numbers {
  padding: 17px 20px 15px 20px;
}

.button-number_current {
  background-color: var(--basic-white);
  border: 3px solid;
  border-radius: 3px;
  border-color: var(--border-button-numbers);
  padding: 14px 17px 12px 17px;
}

.button-next {
  padding: 17px 77px 15px 78px;
}
