@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

/* todo: need to recheck */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light: #eeeeee;
  --basic-icon: #a6a6a6;
  --basic-text: #283136;
  --special-text: #444444; /* footer & placeholder */
  --border-modal: #d7dcde;
  --checkbox: #4d4d4d;
  --filter-special: #ababab; /* border active & range inside */
  --border-modal-hover: #b4b9bb;
  --address-text: #666666;

  --button: #fb565a;
  --button-hover: #e74246;
  --button-active: #d7373b;

  --button-center: #00ca74; /* range color tooxr */
  --button-center-hover: #00bc6c;
  --button-center-active: #00aa62;

  --button-right: #efc849;
  --button-right-hover: #eab534;
  --button-right-active: #e5a722;

  --button-filer-hover: #dfdfdf;

  --social: #e1e1e1;
}

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main header */

.main-header {
  background-color: var(--basic-light);
}

.advantages {
  background-color: var(--basic-light);
}

.main-navigation {
  font-weight: 500;
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
}

.cart-link {
  color: var(--basic-black);
}

.site-navigation a:active {
  opacity: 30%; /* тут надо переделать на цвет, не опасити */
}

.cart-link:active {
  opacity: 30%; /* тут надо переделать на цвет, не опасити */
}

.site-navigation a:hover {
  color: var(--button); /* strange name for color */
}

.cart-link:hover {
  color: var(--button); /* strange name for color */
}

.site-navigation a:hover {
  color: var(--button); /* strange name for color */
}

.cart-link:hover {
  color: var(--button); /* strange name for color */
}

/* Advantages */

.advantages-list {
  list-style: none;
}

.slogan {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

/* Services */

.services-list {
  list-style: none;
}

.services-list h3 {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  font: inherit;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button);
  border: none;
}

.button:hover {
  background-color: var(--button-hover);
}

.button:active {
  background-color: var(--button-active);
}

.button-center {
  background-color: var(--button-center);
}

.button-center:hover {
  background-color: var(--button-center-hover);
}

.button-center:active {
  background-color: var(--button-center-active);
}

.button-right {
  background-color: var(--button-right);
}

.button-right:hover {
  background-color: var(--button-right-hover);
}

.button-right:active {
  background-color: var(--button-right-active);
}

/* About */

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about h3 {
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
}

.orders-list {
  list-style: none;
}

.about-term {
  line-height: 18px;
}

.about-list .number {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.about-list .percent {
  color: var(--basic-black);
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: top;
}

/* Clients */

.clients-list {
  list-style: none;
}

/* Contacts */

.contacts-title {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
}

.address {
  color: var(--address-text);
}

.contacts-phone {
  color: var(--address-text);
}

.write_us-title {
  color: var(--basic-black);
  font-size: 45px;
  font-weight: 700;
}

.write_us label {
  color: var(--basic-black);
  font-weight: 700;
}

.write_us input,
.write_us textarea {
  color: var(--special-text);
  opacity: 0.5;
  background-color: var(--basic-white);
  line-height: 18px;
  font: inherit;
  border: 2px solid var(--border-modal);
  border-radius: 3px;
}

.write_us input:hover,
.write_us textarea:hover {
  border-color: var(--border-modal-hover);
}

.write_us input:focus,
.write_us textarea:focus {
  opacity: 1;
  border-color: var(--basic-black);
}

.write_us input:invalid,
.write_us textarea:invalid {
  color: var(--button-hover);
  border-color: var(--button-hover);
}

/* Footer */

.footer-title {
  color: var(--basic-black);
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.main-footer {
  color: var(--special-text);
  line-height: 22px;
}

.social-list {
  list-style: none;
}
