@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

/* todo: need to recheck */

:root {
  --basic-black: #000000;
  --basic-black-opacity-30: rgba(0, 0, 0, 0.3);
  --basic-white: #ffffff;
  --basic-light: #eeeeee;
  --basic-icon: #a6a6a6;
  --basic-text: #283136;
  --special-text: #444444; /* footer & placeholder */
  --special-text-opacity-50: rgba(4, 4, 4, 0.5);
  --border-modal: #d7dcde;
  --checkbox: #4d4d4d;
  --filter-special: #ababab; /* border active & range inside */
  --border-modal-hover: #b4b9bb;
  --address-text: #666666;

  --button: #fb565a;
  --button-hover: #e74246;
  --button-active: #d7373b;

  --button-center: #00ca74; /* range color tooxr */
  --button-center-hover: #00bc6c;
  --button-center-active: #00aa62;

  --button-right: #efc849;
  --button-right-hover: #eab534;
  --button-right-active: #e5a722;

  --button-filter-hover: #dfdfdf;
  --button-filter-active: #d5d5d5;
  --border-button-numbers: #dbdbdb;

  --social: #e1e1e1;
}

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Main header */

.main-header {
  background-color: var(--basic-light);
}

.advantages {
  background-color: var(--basic-light);
}

.main-navigation {
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 49px;

  display: grid;
  grid-template-columns: max-content 1fr min-content;
}

.main-header-logo {
  margin-right: 10px;
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation-link {
  color: var(--basic-black);
}

.cart-link {
  color: var(--basic-black);
}

.site-navigation-link:hover {
  color: var(--button); /* strange name for color */
}

.cart-link:hover {
  color: var(--button); /* strange name for color */
}

.site-navigation-link:active {
  color: var(--basic-black-opacity-30);
}

.cart-link:active {
  color: var(--basic-black-opacity-30);
}

/* Advantages */

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slogan {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  padding-top: 78px;
  margin: 0;
}

/* Services */

.services {
  margin-top: 80px;
  margin-bottom: 80px;
}

.services-list {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  padding: 0;
  margin: 0;
}

.service-list_header {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  font: inherit;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button);
  border: none;
}

.button:hover {
  background-color: var(--button-hover);
}

.button:active {
  background-color: var(--button-active);
}

.button-center {
  background-color: var(--button-center);
}

.button-center:hover {
  background-color: var(--button-center-hover);
}

.button-center:active {
  background-color: var(--button-center-active);
}

.button-right {
  background-color: var(--button-right);
}

.button-right:hover {
  background-color: var(--button-right-hover);
}

.button-right:active {
  background-color: var(--button-right-active);
}

/* About */

.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;

  margin-top: 39px;
  margin-bottom: 73px;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

/* Ерунда какая-то, about-title, about_header... */

.about_header {
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
}

.orders-list {
  list-style: none;
}

.about-term {
  line-height: 18px;
}

.about-definition {
  grid-row: 1 / -1;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  padding: 0;
  margin: 0;
}

.about-list_number {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.about-list_percent {
  color: var(--basic-black);
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: top;
}

/* Clients */

.clients {
  min-height: 184px;
}

.clients-list {
  list-style: none;
  text-align: center;
  /* todo: выравнять картинки по высоте */
  place-items: center;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: auto;
}

/* Contacts */

.contacts {
  grid-column: 1 / -1;
}

.contacts-title {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
}

.address {
  color: var(--address-text);
}

.contacts-phone {
  color: var(--address-text);
}

.write_us-title {
  color: var(--basic-black);
  font-size: 45px;
  font-weight: 700;
}

.write_us label {
  color: var(--basic-black);
  font-weight: 700;
}

.write_us-input,
.write_us-textarea {
  color: var(--special-text-opacity-50);
  background-color: var(--basic-white);
  font: inherit;
  line-height: 18px;
  border: 2px solid var(--border-modal);
  border-radius: 3px;
}

.write_us-input:hover,
.write_us-textarea:hover {
  border-color: var(--border-modal-hover);
}

.write_us-input:focus,
.write_us-textarea:focus {
  color: var(--special-text);
  border-color: var(--basic-black);
}

.write_us-input:invalid,
.write_us-textarea:invalid {
  color: var(--button-hover);
  border-color: var(--button-hover);
}

/* Footer */

.main-footer {
  color: var(--special-text);
  line-height: 22px;
}

.footer-title {
  color: var(--basic-black);
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  padding-bottom: 10px;
  margin: 0;
}

.footer-text {
  margin: 0;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 68px;
  margin-bottom: 68px;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Catalog */

.container-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  align-content: start;
}

.page-title {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  background-color: var(--basic-light);
  grid-column: 1 / -1;
}

/* Filters */
.filter_legend {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.range-from {
  line-height: 22px;
  text-transform: uppercase;
}

.range-to {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-list {
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Sort */

.sort-title {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-list {
  list-style: none;
}

.sorting-item-link {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.sorting-item-link:hover {
  opacity: 0.6;
}

.sorting-item-link:active {
  opacity: 1;
}

/* Catalog */

.catalog-list {
  list-style: none;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
}

.catalog-item {
  width: 360px;
}

.catalog-item_title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog-item_title_link {
  color: var(--basic-black);
}

.catalog-item_title_link:hover {
  color: var(--button);
}

.catalog-item_title_link:active {
  color: var(--basic-black-opacity-30);
}

.catalog-item_text {
  color: var(--address-text);
  line-height: 18px;
  margin: 0;
  padding: 0;
}

/* Pagination */

.pagintaion-list {
  list-style: none;
}

.button-filter {
  color: var(--basic-black);
  background-color: var(--basic-light);
}

.button-filter:hover {
  background-color: var(--button-filter-hover);
}

.button-filter:active {
  color: var(--basic-black-opacity-30);
  background-color: var(--button-filter-active);
}

.button-number_current {
  background-color: var(--basic-white);
  border: 3px solid;
  border-radius: 3px;
  border-color: var(--border-button-numbers);
}
