@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}

/* todo: need to recheck */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light: #EEEEEE;
  --basic-icon:  #A6A6A6;
  --basic-text: #283136;
  --special-text: #444444; /* footer & placeholder */
  --border-modal: #D7DCDE;
  --checkbox: #4D4D4D;
  --filter-special: #ABABAB; /* border active & range inside */
  --address-text: #666666;

  --button: #FB565A;
  --button-hover: #E74246;
  --button-active: #D7373B;

  --button-center: #00CA74; /* range color tooxr */
  --button-center-hover: #00BC6C;
  --button-center-active: #00AA62;

  --button-right: #EFC849 ;
  --button-right-hover: #EAB534;
  --button-right-active: #E5A722;

  --button-filer-hover: #DFDFDF;

  --social: #E1E1E1;


}

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header, .advantages {
  background-color: var(--basic-light);
}

.main-navigation {
  font-weight: 500;
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.cart-link {
  color: var(--basic-black);
}

.site-navigation a:active,
.cart-link:active {
  opacity: 30%; /* тут надо переделать на цвет, не опасити */
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-link:hover,
.cart-link:focus {
  color: var(--button); /* strange name for color */
}

/* Advantages */

.advantages-list {
  list-style: none;
}
 .slogan {
   color: var(--basic-black);
   font-size: 55px;
   line-height: 55px;
   font-weight: 500;
 }

 /* Services */

 .services-list {
   list-style: none;
 }

 .services-list h3 {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
 }

 .button {
  font: inherit;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover);
}

.button:active {
  background-color: var(--button-active);
}

.button-center {
  background-color: var(--button-center);
}

.button-center:hover,
.button-center:focus {
  background-color: var(--button-center-hover);
}

.button-center:active {
  background-color: var(--button-center-active);
}


.button-right {
  background-color: var(--button-right);
}

.button-right:hover,
.button-right:focus {
  background-color: var(--button-right-hover);
}

.button-right:active {
  background-color: var(--button-right-active);
}

/* About */

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about h3 {
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
 }

 .orders-list {
  /* list-style-image: url("/img/icons/list-marker.svg"); */
}

.orders-list li {
  background: url("/img/icons/list-marker.svg") no-repeat left center;
}

 /* Думаю, как стилизовать маркер

 .orders-list li::marker {
   color: var(--button);
 } */

.about-term {
  line-height: 18px;
}

.about-list .number {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.about-list .percent {
  color: var(--basic-black);
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: top;
}
