@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

/* todo: need to recheck */

:root {
  --basic-black: #000000;
  --basic-black-opacity-30: rgba(0, 0, 0, 0.3);
  --basic-white: #ffffff;
  --basic-light: #eeeeee;
  --basic-icon: #a6a6a6;
  --basic-text: #283136;
  --special-text: #444444; /* footer & placeholder */
  --special-text-opacity-50: rgba(4, 4, 4, 0.5);
  --border-modal: #d7dcde;
  --checkbox: #4d4d4d;
  --filter-special: #ababab; /* border active & range inside */
  --border-modal-hover: #b4b9bb;
  --address-text: #666666;

  --button: #fb565a;
  --button-hover: #e74246;
  --button-active: #d7373b;

  --button-center: #00ca74; /* range color tooxr */
  --button-center-hover: #00bc6c;
  --button-center-active: #00aa62;

  --button-right: #efc849;
  --button-right-hover: #eab534;
  --button-right-active: #e5a722;

  --button-filter-hover: #dfdfdf;
  --button-filter-active: #d5d5d5;
  --border-button-numbers: #dbdbdb;

  --social: #e1e1e1;
}

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Main header */

.main-header {
  background-color: var(--basic-light);
}

.advantages {
  background-color: var(--basic-light);
  margin-bottom: 80px;
}

.main-navigation {
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 49px;

  display: grid;
  grid-template-columns: max-content 1fr min-content;
}

.main-header-logo {
  margin-right: 10px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation-link {
  display: block;
  padding: 26px 22px 9px 23px;
  color: var(--basic-black);
}

.cart {
  display: flex;
  flex-wrap: wrap;
}

.cart-link::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("/img/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 26px 0px 32px 20px;
  color: var(--basic-black);
}

.site-navigation-link:hover {
  color: var(--button); /* strange name for color */
}

.cart-link:hover {
  color: var(--button); /* strange name for color */
}

.site-navigation-link:active {
  color: var(--basic-black-opacity-30);
}

.cart-link:active {
  color: var(--basic-black-opacity-30);
}

/* Advantages */

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantage-item {
  min-height: 431px;
  background-repeat: no-repeat;
  background-size: 760px 431px;
  background-position: right top;
}

.advantage-item_1 {
  background-image: url(../img/nerds-index-slide1.png);
}

.advantage-item_2 {
  background-image: url(../img/nerds-index-slide2.png);
}

.advantage-item_3 {
  background-image: url(../img/nerds-index-slide3.png);
}

.slogan {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  width: 538px;
  height: 111px;
  padding-top: 78px;
  margin-bottom: 25px;
}

.slogan-add {
  width: 416px;
  height: 49px;
  margin-bottom: 38px;
}

/* Services */

.services {
  margin-bottom: 80px;
}

.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 100px;
  padding: 0;
  margin: 0;
}

.service-item {
  min-height: 347px;
  background-repeat: no-repeat;
  background-size: 300px 146px;
  background-position: top;
}

.service-item_1::before {
  content: "";
  display: block;
  background-image: url(../img/illustration-1.jpg);
  background-size: 300px 146px;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.service-item_2::before {
  content: "";
  display: block;
  background-image: url(../img/illustration-2.jpg);
  background-size: 300px 146px;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.service-item_3::before {
  content: "";
  display: block;
  background-image: url(../img/illustration-3.jpg);
  background-size: 300px 146px;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.service-list_header {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.service-list_text {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.button {
  display: inline-block;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button);
  border: none;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--button-hover);
}

.button:active {
  background-color: var(--button-active);
}

.button-center {
  background-color: var(--button-center);
}

.button-center:hover {
  background-color: var(--button-center-hover);
}

.button-center:active {
  background-color: var(--button-center-active);
}

.button-right {
  background-color: var(--button-right);
}

.button-right:hover {
  background-color: var(--button-right-hover);
}

.button-right:active {
  background-color: var(--button-right-active);
}

/* About */

.about {
  display: grid;
  grid-template-columns: 2fr 360px;
  column-gap: 149px;
  /* margin-top: 39px; */
  margin-bottom: 74px;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  padding-top: 73px;
}

.about-text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

/* Ерунда какая-то, about-title, about_header... */

.about_header {
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.orders-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.orders-item:not(:last-child) {
  margin-bottom: 23px;
}

.orders-item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background: var(--button);
  margin-right: 7px;
  margin-bottom: 4px;
}

.about_stat {
  display: grid;
}

.about_img {
  order: -1;
  width: 360px;
  height: 208px;
}

.about_stat_header {
  margin: 0;
  padding: 0;
}

.about-term {
  font-size: 16px;
  line-height: 18px;
}

.about-definition {
  margin: 0;
  padding: 0;
  grid-row: 1 / -1;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  padding: 0;
  margin: 0;
}

.about-list_number {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.about-list_percent {
  color: var(--basic-black);
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: top;
}

/* Clients */

.clients {
  min-height: 184px;
}

.clients-list {
  list-style: none;
  text-align: center;
  /* todo: выравнять картинки по высоте */
  place-items: center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: auto;
}

/* Contacts */

.contacts {
  grid-column: 1 / -1;
}

.contacts-title {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
}

.address {
  color: var(--address-text);
}

.contacts-phone {
  color: var(--address-text);
}

.write_us-title {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
}

.write_us label {
  color: var(--basic-black);
  font-weight: 700;
}

.write_us-input,
.write_us-textarea {
  color: var(--special-text-opacity-50);
  background-color: var(--basic-white);
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid var(--border-modal);
  border-radius: 3px;
}

.write_us-input:hover,
.write_us-textarea:hover {
  border-color: var(--border-modal-hover);
}

.write_us-input:focus,
.write_us-textarea:focus {
  color: var(--special-text);
  border-color: var(--basic-black);
}

.write_us-input:invalid,
.write_us-textarea:invalid {
  color: var(--button-hover);
  border-color: var(--button-hover);
}

/* Footer */

.main-footer {
  color: var(--special-text);
  font-size: 16px;
  line-height: 22px;
}

.footer-title {
  color: var(--basic-black);
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  padding-bottom: 10px;
  margin: 0;
}

.footer-text {
  margin: 0;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 139px;
  margin-top: 68px;
  margin-bottom: 68px;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--social);
  width: 81px;
  height: 81px;
  border-radius: 50%;
}
/* Catalog */

.container-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  align-content: start;
}

.page-title {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  background-color: var(--basic-light);
  margin: 0;
  padding: 0;
  padding-top: 72px;
  padding-bottom: 108px;
  margin-bottom: 55px;
  grid-column: 1 / -1;

}

/* Filters */

.filter_legend {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.price_fieldset {
  margin-bottom: 54px;
}

.price_filter_legend {
  margin-bottom: 48px;
}

.layout_fieldset {
  margin-bottom: 47px;
}

.layout_filter_legend {
  margin-bottom: 16px;
}

.features_fieldset {
  margin-bottom: 50px;
}

.features_filter_legend {
  margin-bottom: 16px;
}

.range-from {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.range-to {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-list {
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-item {
  margin-bottom: 20px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

/* Sort */

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.sort-title {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.sort-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.sorting-item-link {
  display: block;
  padding: 5px 12px;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.sorting-item-link:hover {
  opacity: 0.6;
}

.sorting-item-link:active {
  opacity: 1;
}

.sort-order {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

/* Catalog */

.catalog-list {
  list-style: none;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  margin-bottom: 54px;
}

.catalog-item {
  width: 360px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

.catalog-item::before {
  content: "";
  width: 360px;
  height: 40px;
  background-image: url("../img/icons/browser.svg");
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item_title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.catalog-item_title_link {
  color: var(--basic-black);
}

.catalog-item_title_link:hover {
  color: var(--button);
}

.catalog-item_title_link:active {
  color: var(--basic-black-opacity-30);
}

.catalog-item_text {
  color: var(--address-text);
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-item_img {
  grid-area: 2 / 1 / 4 / 2;
}

.catalog-item_modal {
  grid-area: 3 / 1 / 4 / 2;
  background-color: var(--basic-light);
  min-height: 161px;
  padding-bottom: 44px;
  padding-top: 26px;
  padding-right: 53px;
  padding-left: 52px;
}

.catalog-item:hover .catalog-item_modal,
.catalog-item:focus-within .catalog-item_modal {
  z-index: 1;
}
/* Pagination */

.pagintaion-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin: 0;
  padding: 0;
}

.button-filter {
  color: var(--basic-black);
  background-color: var(--basic-light);
}

.button-filter:hover {
  background-color: var(--button-filter-hover);
}

.button-filter:active {
  color: var(--basic-black-opacity-30);
  background-color: var(--button-filter-active);
}

.button-form {
  padding: 17px 89px 15px 88px;
}

.button-catalog {
  display: flex;
  justify-content: center;
  padding: 17px 72px 15px;
}

.button-numbers {
  padding: 17px 20px 15px 20px;
}

.button-number_current {
  background-color: var(--basic-white);
  border: 3px solid;
  border-radius: 3px;
  border-color: var(--border-button-numbers);
  padding: 14px 17px 12px 17px;
}

.button-next {
  padding: 17px 77px 15px 78px;
}
